.table {
  margin-bottom: 0rem;
}

.table-responsive {
  background-color: #ffffff;
}

.custom-text-field {
    background-color: #f5f5f6; /* Example background color */
    border: 1px solid #f5f5f6;  /* Example border */
    border-radius: 0.25rem;     /* Example border radius */
    /* Add other styles as needed */
}

.custom-form-spacing {
  margin-top: -8px; /* or any other value */
  margin-bottom: 8px; /* existing mb-2 equivalent */
}

.table td:first-child, .table th:first-child {
    border-right: none;
  }
  .table td:last-child, .table th:last-child {
    border-left: none;
  }
  
  .table td:not(:first-child):not(:last-child),
  .table th:not(:first-child):not(:last-child) {
    border-right: none;
    border-left: none;
  }

/* Styles for the button containing the icon and label */
.icon-btn {
    position: relative; /* Required for absolute positioning of child elements */
    display: inline-block;
  }
  
  /* Styles for the icon label (tooltip text) */
  .icon-label {
    display: none;
    position: absolute;
    bottom: 110%; /* Position above the icon */
    left: 50%; /* Centering the label */
    transform: translateX(-50%); /* Adjust horizontally */
    padding-left: 6px;
    padding-right: 6px;
    background-color: #000; /* Background of the tooltip */
    color: #fff; /* Text color */
    text-align: center;
    border-radius: 4px;
    white-space: nowrap; /* Keeps the text in a single line */
    font-size: 12px; 
  }
  
  /* Styles for the arrow pointing downwards from the tooltip */
  .icon-label::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    transform: translateX(-50%);
  }
  
  /* Show label on hover */
  .icon-btn:hover .icon-label {
    display: block;
  }

.nav-link-custom {
  color: #ffffff; /* Replace with your desired color */
  margin-right: 15px; /* Adjust the distance between links */
  margin-top: 2px;
}

/* Custom styling for nav-link on hover */
.nav-link-custom:hover {
  color: #d0d0d0; /* Replace with your desired hover color */
  transition: color 0.3s ease;
}

.nav-btn-custom {
  color: #ffffff;
  background-color: rgb(84, 86, 94);
  padding: 5px; /* Adjust padding for vertical height */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 120px;
  border: none; /* Remove border */
  box-shadow: none; /* Remove shadow for a flat appearance */
  border-radius: 0.25rem; /* Optional: for a completely square look */
}

.nav-btn-custom:hover {
  color: #d0d0d0;
  background-color: #343a40; /* Replace with your desired hover color */
  transition: color 0.3s ease;
}

.page-inner.no-page-title {
  padding-top: 0px;
}

.page-inner {
  position: relative;
  min-height: calc(100% - 56px);
}

.card.card-white {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0.08rem 0.02rem rgba(75, 75, 90, 0.075);
}

  
.card.card-white-hover:hover {
  background-color: rgb(231, 231, 233); /* Adjust the color to a darker shade as needed */
  transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
}

.grid-margin {
  margin-bottom: 2rem;
}

.custom-bar {
  border-top: 1px solid rgba(0,0,0,.125);
}

.btn.btn-dark {
  border: 1px solid transparent;
  box-shadow: 0 0.08rem 0.02rem rgba(75, 75, 90, 0.075);
}

.btn.btn-secondary {
  color: #ffffff;
  background-color: #a3a3a9;
  border-color: #a3a3a9;
}

.btn.btn-outline-secondary {
  background-color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 0.08rem 0.02rem rgba(75, 75, 90, 0.075);
}

.custom-field {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 0.08rem 0.02rem rgba(75, 75, 90, 0.075);
  height: 38px;
  width: 280px;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-checkbox .custom-control-input {
  border: none;
  outline: none; /* To remove the focus outline */
}