.custom-style {
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #f0f0f0;  /* Example border */
    border-radius: 0.25rem;     /* Example border radius */
    /* Add other styles as needed */
}

.custom-form-spacing {
  margin-top: -8px; /* or any other value */
  margin-bottom: 8px; /* existing mb-2 equivalent */
}

.table td:first-child, .table th:first-child {
    border-right: none;
  }
  .table td:last-child, .table th:last-child {
    border-left: none;
  }
  
  .table td:not(:first-child):not(:last-child),
  .table th:not(:first-child):not(:last-child) {
    border-right: none;
    border-left: none;
  }

/* Styles for the button containing the icon and label */
.icon-btn {
    position: relative; /* Required for absolute positioning of child elements */
    display: inline-block;
  }
  
  /* Styles for the icon label (tooltip text) */
  .icon-label {
    display: none;
    position: absolute;
    bottom: 110%; /* Position above the icon */
    left: 50%; /* Centering the label */
    transform: translateX(-50%); /* Adjust horizontally */
    padding-left: 6px;
    padding-right: 6px;
    background-color: #000; /* Background of the tooltip */
    color: #fff; /* Text color */
    text-align: center;
    border-radius: 4px;
    white-space: nowrap; /* Keeps the text in a single line */
    font-size: 12px; 
  }
  
  /* Styles for the arrow pointing downwards from the tooltip */
  .icon-label::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    transform: translateX(-50%);
  }
  
  /* Show label on hover */
  .icon-btn:hover .icon-label {
    display: block;
  }
  